@model WebBanDoDienTu.Models.DonDatHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Bạn có muốn xóa đơn đặt hàng này không</h3>
                <h4 class="card-title">Chi tiết Đơn đặt hàng</h4>

                <form class="forms-sample">
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">ID đơn đặt hàng</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.IDDDH)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Tên khách hàng</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.KhachHang.TenKH)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Ngày đặt hàng</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.NgayMua)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Số lượng </label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.TongSoluong)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Tổng tiền</label>
                        <div class="col-sm-9 money">
                            @Html.DisplayFor(model => model.TongTien) VND
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Phương thức thánh toán</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.PhuongThucThanhToan.TenPT)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Trạng thái đơn hàng</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.TrangThai.TenTrangThai)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Trạng thái thanh toán</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.TrangThaiThanhToan)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Tên khách hàng lẻ</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.TenKHKhongAccount)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Điện thoại khách hàng lẻ</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.DienThoaiKhongAccount)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Ghi chú</label>
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.GhiChu)
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button style="width:180px; type="submit" value="Delete" class="btn btn-primary mr-2">Delete</button>
        </div>
    }
    <a href="~/Admin/AdminDonDatHangs/Index">
        <button type="button" class="btn btn-outline-secondary btn-lg btn-block" style="width:300px; margin-top:40px">Trở về</button>
    </a>
</div>